:root {
  --navy-1: #18243F;
  --navy-2: #10192E;
  --testimonial-navy: #263A63;
  --panel-gray: #FFF8F2;
  --cta-1: #F15A24;
  --cta-2: #F9A03F;
  --cta-hover-1: #d14816;
  --cta-hover-2: #d7640c;
  --badge-border: rgba(251, 184, 104, 0.6);
}
